@import url(http://fonts.googleapis.com/css?family=Raleway);
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* background: #000000 url("../images/BackSite.jpg") 50% 0 repeat-y;*/
	background-color: #0066FF;
    font-family: Raleway, sans-serif;
    color: azure;
	overflow-x:hidden;
}

#highscores table{
	
	margin: 0 auto;

}

a{
    text-decoration: none;
    color: azure;
}
hr,br{
    color: azure;
}

#error_query{
    color: crimson;
}
.wrapper{
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
	text-shadow: 2px 2px 1px black;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 85%;

}

.wrapper  .header img#header{
	width: 100%;
	height: 100%;
    border-radius: 15px;

}




.wrapper .content{
    text-align: center;
    padding: 20px 30px 20px 30px;
    /*min-height: 600px;*/
    background-color: rgba(9, 33, 67, 0.7);
	border-radius: 15px;
	
}


.wrapper .content form{
    border: 5px solid #185898;
    border-radius: 15px;
    padding: 20px;
}

.wrapper .content form button, .wrapper .content button{
    width: 260px;
    margin-top: 10px;
    padding: 10px;
    color: azure;
    background-color: #185898;
    border-radius: 5px;
    border-color: #092143;
}
.wrapper .content form button:hover, .wrapper .content button:hover{
    background-color: azure;
    color: #185898;
}

div.mic{
	
	display : none;

}

.wrapper .content form #loginXregister{
    text-align: center;
}

.wrapper .content form #loginXregister span{
    background-color: #185898;
    color: azure;
    margin-left: 20px;
    padding: 10px;
}

.wrapper .content form #loginXregister span:hover{
    background-color: azure;
    color: #185898;
}

.wrapper .content form section#login_register{
    display: none;
}

.wrapper .content #highscores #highscore_table table{
    margin-top: 10px;
}

.wrapper .content #highscores #highscore_table tr td{
    width: auto;
    /*min-width: 80px;*/
	text-align: center;
    background-color: cornflowerblue;
    color: azure;
    border : 2px solid #185898;
}

.wrapper .content #highscores #highscore_table tr th{
    color: azure;
    background-color: cadetblue;
    text-align: center;
}

.wrapper .content #highscores #highscore_table tr#particular_score td{
    background-color: darkcyan;
    color: cornsilk;
    border: 2px solid aliceblue;
}

.footer{
    text-align: center;
    color: black;
}

.wrapper .content #user_data{
    border-radius: 10%;
    border: 3px solid #185898;
    padding: 10px;
}

/* Unity game start styling */
.broken,
.missing {
    margin: auto;
    position: relative;
    top: 50%;
    width: 193px;
}
.broken a,
.missing a {
    height: 63px;
    position: relative;
    top: -31px;
}
.broken img,
.missing img {
    border-width: 0px;
}
.broken {
    display: none;
}
#unityPlayer {
    cursor: default;
    height: 900px;
    width: 600px;
	
}


#float {
    position: relative;
    -webkit-animation: floatBubble 3s   normal ease-out;
    animation: floatBubble 3s   normal ease-out;
}
@-webkit-keyframes floatBubble {
    0% {
        left:90%;
    }
    100% {
        left: 0px;
    }
}

@keyframes floatBubble {
    0% {
        left:90%;
    }
    100% {
        left: 0px;
    }
}

.showbox.scale{
	transition: -webkit-transform 0.25s ease-out;
	transition: transform 0.25s ease-out;

}

.showbox.scale:hover{
	-webkit-transform: scale(2);
	transform: scale(2);
}



/* Starting to add style for my content*/
.wrapper .content #index_content{
    text-align: left;
}

.wrapper .content #index_content a{
    color: #19799f;
}

.wrapper .content #index_content a:hover{
    color: lightblue;
}

.wrapper .content #index_content p.more{
    text-align: left;
}

.wrapper .content #index_content nav,
.wrapper .content #index_content #uml_diagrams{
    text-align: center;
}

.wrapper .content #index_content nav,
.wrapper .content #index_content #formal-z{
    text-align: center;
}


.wrapper .content #index_content nav img{
    max-width: 100%;
    max-height: 100%;
    height: 35%;
    width: 15%;
}

.wrapper .content #index_content #uml_diagrams img{
    max-width: 100%;
    max-height: 100%;
    height: 30%;
    width: 30%;
}

.wrapper .content #index_content #formal-z img{
    max-width: 100%;
    max-height: 100%;
    height: 30%;
    width: 30%;
}


.wrapper .content #index_content #list_requirments{
    text-align: justify;
}

.wrapper .content #index_content #list_requirments span{
    color:lightblue;
}

.wrapper .content #unit_testing img{
    max-width: 100%;
    max-height: 100%;
    height: 50%;
    width: 50%;
    margin: 10px;
}

.wrapper .content #bottom_rocket img{
    max-width: 100%;
    max-height: 100%;
    height: 8%;
    width: 8%;
}

